<div class="page p-2">
  <h1>
    {{title}}
  </h1>


  <div *ngIf=" user.logged ">
    Welcome, {{ user.info.id }}.
  </div>

  <nav class="my-2">
    <button type="button" (click)=" view = 'home' ">Home</button>
    <button *ngIf=" ! user.logged " type="button" (click)=" view='login' ">Login</button>
    <button *ngIf=" user.logged " type="button" (click)=" view='home'; user.logout() ">Logout</button>
    <button *ngIf=" ! user.logged " type="button" (click)=" view='register' ">Register</button>
    <button *ngIf=" user.logged " type="button" (click)=" view='register' ">Profile Update</button>
    <button *ngIf=" user.logged " type="button" (click)=" view='password' ">Password Update</button>
    <button type="button" (click)=" view='forum' " >Forum</button>
    <button type="button" (click)=" view='forum-infinite' " >Forum (Infinite)</button>
  </nav>


  <div *ngIf=" view == 'home' ">
    <h2>Home</h2>
  </div>


  <login-form-basic *ngIf=" view == 'login' " (login)=" view = 'home' " (error)=" onError($event) ">
  </login-form-basic>
  <register-form-basic *ngIf=" view == 'register' ">
  </register-form-basic>
  <password-change-form-basic *ngIf=" view == 'password' " (update)=" view = 'home' ">
  </password-change-form-basic>

  <forum-with-page-navigator *ngIf=" view == 'forum' " [post_config_id]=" 'test' "></forum-with-page-navigator>
  <forum-with-infinite-scroll *ngIf=" view == 'forum-infinite' " [post_config_id]=" 'test' "></forum-with-infinite-scroll>
</div>